<%= form_for(@data_set) do |f| %>
  <% if @data_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>

      <ul>
      <% @data_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  
  <% if !@data_set.stored_data.blank? %>
    <p>
      <h4>Source files:</h4>
      <% @data_set.file_names.each_with_index do |fn, i| %>
        <%= i+1 %>) <%= fn %></br>
      <% end %>
    </p>

    <p>
      <h4>Dimensions:</h4>
      <% @data_set.dimensions.each do |dim| %>
          <b><%=dim[:name]%></b> (<%=dim[:data_type]%>) </br>
      <% end %>
    </p>
  <% else %>
    <%= f.label :data_source %><br>
    <%= select("data_set", "data_source_id", DataSource.all.collect {|ds| [ ds.name, ds.id ] }, { :include_blank => false }) %> <br><br>

    <%= f.label :data_file %><br>
    <%= f.file_field :file %> <br><br> 
  <% end %> 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

