<%= form_for(@data_set, html: { class: "directUpload" }) do |f| %>
  <% if @data_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>

      <ul>
      <% @data_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <div class="field">
    <%= f.label :remote_source_files %><br>
    <%= f.file_field :remote_source_files %>
  </div>

  <%= f.label :source_files %>:<br>


  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

