<p id="notice"><%= notice %></p>
<h1><%=@data_set.name%></h1>

<p>
  <h4>Source files:</h4>
  <% @data_set.file_names.each_with_index do |fn, i| %>
    <%= i+1 %>) <%= fn %></br>
  <% end %>
</p>

<p>
  <h4>Dimensions:</h4>
  <% @data_set.dimensions.each do |dim| %>
    	<b><%=dim[:name]%></b> (<%=dim[:data_type]%>) </br>
  <% end %>
</p>

<%= link_to 'Edit Settings', edit_data_set_path(@data_set) %> |
<%= link_to 'Data Sets Index', data_sets_path %>
