<p id="notice"><%= notice %></p>
<h1><%=@data_set.name%></h1>

<p>
  <strong>Source files:</strong> <br>
  <% @data_set.source_files.each_with_index do |sf, i| %>
    <%= i+1 %>) <%= sf.name %></br>
  <% end %>
</p>

<%= link_to 'Edit Settings', edit_data_set_path(@data_set) %> |
<%= link_to 'Data Sets Index', data_sets_path %>
