<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_set.name %>
</p>

<p>
  <strong>Source files:</strong> <br>
  <% @data_set.source_files.each do |sf| %> <br>
    <%= sf.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_data_set_path(@data_set) %> |
<%= link_to 'Back', data_sets_path %>
