<%= form_for(@crunch_algorithm) do |f| %>
  <% if @crunch_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crunch_algorithm.errors.count, "error") %> prohibited this crunch_algorithm from being saved:</h2>

      <ul>
      <% @crunch_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>


  <div class="field">
    <%= f.label :functions %><br>
      <% (0..6).each do |n| %>
      <div style="margin-left:1em; padding-bottom: 20px">
        <%=n%>) <select name="functions[<%=n%>][name]">
          <% unless @crunch_algorithm.functions[n] %> '<option value="" selected="selected">Please select</option>' <% end %> 
          

          <% @allowed_functions.each do |af| %>
            
            <option value="<%=af[:ui_name]%>" 
              <% if @crunch_algorithm.functions[n] && @crunch_algorithm.functions[n][:name].to_s == af[:method_name] %>
                selected="selected"
              <% end %> 
            ><%=af[:ui_name]%></option>
          <% end %>


        </select> 
        <input size="90" id="functions_<%=n%>_args" name="functions[<%=n%>][args]" type="text" 
        <% if @crunch_algorithm.functions[n] %>
          value="<%=@crunch_algorithm.functions[n][:args]%>"
        <% end %>
        />
        <br>
      </div>
        
        <% if @crunch_algorithm.functions[n] %>
          <% func =  @allowed_functions.select{|af| @crunch_algorithm.functions[n][:name].to_s == af[:method_name]}.first %>
          <% func_args = func[:arguments] %>
          
          <% func_args.each do |arg_name, values| %>
              <%= f.label arg_name %>
              <input size="90" id="functions_<%=n%>_args" name="functions[<%=n%>][args]" type="text" value="" > <br>
          <% end %>

        <% end %>

      <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
