<%= form_for(@crunch_algorithm) do |f| %>
  <% if @crunch_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crunch_algorithm.errors.count, "error") %> prohibited this crunch_algorithm from being saved:</h2>

      <ul>
      <% @crunch_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.label :application_type %><br>
  <select required name="crunch_algorithm[category]">
    <option></option>
    
    <% @allowed_types.each do |type| %>
      <option <%= selected="selected" if type == @crunch_algorithm.category %> value="<%=type%>"><%=type%></option>
    <% end %>
  </select>
  <br><br>

  <% if @crunch_algorithm.data_source %>
    <%= f.label :data_source %><br>
    <%= @crunch_algorithm.data_source.name %>
    <br><br>
    <%= f.label :functions %>
    <p>
      <div style="margin-left: 2em">
        <% @crunch_algorithm.functions.each do |f| %>
          <b><%= f["name"] %></b> ( <%= [f["args"]].flatten.join(', ') %> )<br>
        <% end %>
      </div>
  </p>
    <%= link_to "Edit Functions", edit_functions_path%>

  <% else %>
    <div class="field">
      <%= f.label :data_source %><br>
      <%= select("crunch_algorithm", "data_source_id", DataSource.all.collect {|ds| [ ds.name, ds.id ] }, { :include_blank => false }) %>
    </div>
  <% end %>
  <br><br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


