<% content_for :head do %>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/javascripts/controllers/edit_functions_controller.js"></script>
<% end %>
<p id="notice"><%= notice %></p>
<%= form_for(@crunch_algorithm) do |f| %>
  <% if @crunch_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crunch_algorithm.errors.count, "error") %> prohibited this crunch_algorithm from being saved:</h2>

      <ul>
      <% @crunch_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Edit Functions for <%=@crunch_algorithm.name%></h1>

  <h4>Functions</h4>

  <div ng-app="functionsEditor">
    <div ng-controller="functionsEditorController">
      <div ng-repeat="func in functions">
        {{func.name}} : {{func.args}}
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


