<% content_for :head do %>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/javascripts/controllers/edit_functions_controller.js"></script>
<% end %>
<p id="notice"><%= notice %></p>
<%= form_for(@crunch_algorithm) do |f| %>
  <% if @crunch_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crunch_algorithm.errors.count, "error") %> prohibited this crunch_algorithm from being saved:</h2>

      <ul>
      <% @crunch_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Edit Functions for <%=@crunch_algorithm.name%></h1>

  <h4>Functions</h4>

  <div ng-app="functionsEditor">
    <div class="function-row">
      <div ng-controller="functionsEditorController">
        <div ng-repeat="func in functions" class="function-row">
          <span style="weight:800; color:red; cursor: pointer; cursor: hand" class='glyphicon glyphicon-remove' ng-click="deleteFunction($index)" aria-hidden="true"></span>
            {{$index+1}}) <span ng-show="!isEditingFunction($index)">{{func.name}} : {{func.args}}</span>
            <span ng-show="isEditingFunction($index)">
              <select style="display:inline" ng-model="func.name">
                <option ng-repeat="name in functionNames" value="{{name}}">{{name}}</option>
              </select>
              <div style="display:inline" ng-include="func.name != null ? func.name : null" ></div>
              <span style="weight:800; color:green; cursor: pointer; cursor: hand" class='glyphicon glyphicon-ok' ng-click="commitFunction()" aria-hidden="true"></span>
            </span>
          <br><br>
        </div>
        <span style="weight:800; color:green; cursor: pointer; cursor: hand" class='glyphicon glyphicon-plus' ng-click="addFunction($index)" aria-hidden="true"></span> <br><br> 
        <button ng-click="updateFunctions()">Update Functions</button>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


