<p id="notice"><%= notice %></p>
<%= form_for(@crunch_algorithm) do |f| %>
  <% if @crunch_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crunch_algorithm.errors.count, "error") %> prohibited this crunch_algorithm from being saved:</h2>

      <ul>
      <% @crunch_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Edit Functions for <%=@crunch_algorithm.name%></h1>

  <h4>Functions</h4>

  <% @crunch_algorithm.functions.each_with_index do |func, i| %>
    <input type='hidden' class="function-setting" name="crunch_algorithm[functions][<%=i+1%>][name]" value="<%=func[:name]%>" />
    <input type='hidden' name="crunch_algorithm[functions][<%=i+1%>][args]" value='<%=func[:args]%>' />
    <%=i+1%>) <strong><%=func[:name]%>:</strong> <%=func[:args]%> <br /><br /> 
  <% end %>

  <div id="functions" class="field" data-crunch-alg-id=<%=@crunch_algorithm.id%>>
      <select id="function-selector">
        <option value="select">select</option>
      <% @allowed_functions.each do |af| %>
        <option value="<%=af%>"><%=af%></option>
      <% end %>
    </select><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


