<p id="notice"><%= notice %></p>
<%= form_for(@crunch_algorithm) do |f| %>
  <% if @crunch_algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crunch_algorithm.errors.count, "error") %> prohibited this crunch_algorithm from being saved:</h2>

      <ul>
      <% @crunch_algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Edit Functions for <%=@crunch_algorithm.name%></h1>

  <h4>Functions</h4>

  <% @crunch_algorithm.functions.each_with_index do |func, i| %>
    <div class="function-row">
      <%= CrunchAlgorithm.hidden_form_input(func, i).html_safe %>
      <span data-function-id="<%=i+1%>" style="weight:800; color:red; cursor: pointer; cursor: hand" class='glyphicon glyphicon-remove delete-function' aria-hidden="true"> </span>
      <%=i+1%>) <strong><%=func[:name]%>:</strong> <%=func[:args]%> <br /><br /> 
    </div>
  <% end %>

  <div id="functions" class="field" data-crunch-alg-id=<%=@crunch_algorithm.id%>>
  </div>
  <select id="function-selector">
    <option value="select">select</option>
    <% @allowed_functions.each do |af| %>
      <option value="<%=af%>"><%=af%></option>
    <% end %>
  </select><br><br><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


