<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crunch_algorithm.name %>
</p>

<p>
  <strong>Type:</strong>
    <%= @crunch_algorithm.category %>
</p>



<p>
  <strong>Functions:</strong>
    <div style="margin-left: 2em">
      <% @crunch_algorithm.functions.each do |f| %>
        <b><%= f[:name] %></b> ( <%= [f[:args]].flatten.join(', ') %> )<br>
      <% end %>
    </div>
</p>



<%= link_to 'Edit', edit_crunch_algorithm_path(@crunch_algorithm) %> |
<%= link_to 'Back', crunch_algorithms_path %>
