<%= form_for(@data_source) do |f| %>
  <% if @data_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_source.errors.count, "error") %> prohibited this data_source from being saved:</h2>

      <ul>
      <% @data_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <div class="field">
    <%= f.label :dimension_translations %><br>
      <% (0..12).each do |n| %>
      <div style="margin-left:1em; padding-bottom: 20px">
        <%=n%>)

        <%= f.label :original_name %><input style="width:100px" size="90" id="dimension_translations_<%=n%>_original_name" name="dimension_translations[<%=n%>][original_name]" type="text" 
        <% if @data_source.dimension_translations[n] %>
          value="<%=@data_source.dimension_translations[n][:original_name]%>"
        <% end %>
        />        
        
        <%= f.label :translated_name %><input style="width:100px" size="90" id="dimension_translations_<%=n%>_translated_name" name="dimension_translations[<%=n%>][translated_name]" type="text" 
        <% if @data_source.dimension_translations[n] %>
          value="<%=@data_source.dimension_translations[n][:translated_name]%>"
        <% end %>
        />        
        
        <%= f.label :data_type %>
        <select name="dimension_translations[<%=n%>][data_type]">
          <% unless @data_source.dimension_translations[n] %> '<option value="" selected="selected">Please select</option>' <% end %> 

          <% @allowed_data_types.each do |dt| %>
            <option value="<%=dt%>" 
              <% if @data_source.dimension_translations[n] && @data_source.dimension_translations[n][:data_type] == dt %>
                selected="selected"
              <% end %> 
            ><%=dt%></option>
          <% end %>
        </select> 
        
        <br>
      </div>
      <% end %>
  </div>

  <%= f.label :calculated_dimensions %> <br>
  <% @data_source.calculated_dimensions.each_with_index do |cd, i| %>
      <%=i+1%>) <b><%=cd["name"]%> (<%=cd["data_type"]%>)</b>: <%=cd["calculation"]["name"]%> (<%=cd["calculation"]["args"]%>)<br>
  <%end%>
<br>
  <%= link_to "Edit Calculated Dimensions", edit_calculated_dimensions_path%>

<br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
