<%= form_for(@source_file, html: { class: "directUpload" }) do |f| %>
  <% if @source_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source_file.errors.count, "error") %> prohibited this source_file from being saved:</h2>

      <ul>
      <% @source_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <%= f.label :data_set %>: <br>
  <%= select("source_file", "data_set_id", DataSet.all.collect {|ds| [ ds.name, ds.id ] }, { :include_blank => false })
%> 
<br>
<br>
  <div class="field">
    <%= f.label :upload_a_file %><br>
    <%= f.file_field :temp %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
