<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :source_files %>:<br>
  <%= f.check_box( :source_files, {multiple: true}, 'Search_term_report4.csv' )%>Search_term_report4.csv<br />
  <%= f.check_box( :source_files, {multiple: true}, 'Search_term_report3.csv' )%>Search_term_report3.csv<br />
  <%= f.check_box( :source_files, {multiple: true}, 'Search-term-report2.csv' )%>Search-term-report2.csv<br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
