<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br /> <br>
  <%= f.label :data_set %>:
  <%= select("report", "data_set_id", DataSet.all.collect {|ds| [ ds.name, ds.id ] }, { :include_blank => false })
%> <br><br>  
<%= f.label :crunch_algorithm %>:
  <%= select("report", "crunch_algorithm_id", CrunchAlgorithm.all.collect {|ca| [ ca.name, ca.id ] }, { :include_blank => false })
%> <br><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
