<h1>Crunch: <%=@report.name.titleize%></h1>
<h3>From data set: "<%=@report.data_set.name.titleize%>"</h3>
<h3>Crunched w/ Algorithm: "<%=@report.crunch_algorithm ? @report.crunch_algorithm.name.titleize : "None Selected"%>"</h3>

<table class="table table-striped">
	<tr>
	<% if @report.data%>
		<% @report.data.headers.each do |header| %>
			<th><%=header.to_s%></th>
		<%end%>
		</tr>
		<% @report.data.each do |row| %>
			<tr>
				<% row.each do |k, v|%>
					<td><%=v.to_s%></td>
				<%end%>
			</tr>
		<%end%>
	<% else %>
		<h2>No Data Loaded</h2>
			<%= link_to "Choose source files", edit_path %>
	<% end %>
</table>