<p id="notice"><%= notice %></p>
<h1><%= @report.name %></h1>
<h4><b>Data set:</b> <%= @report.data_set.name %><br>
<b>From files:</b> <%=  @report.data_set.source_files ? @report.data_set.source_files.join(', ') : "none"%></h4>
<h4><b>Crunch Algorithm</b>: <i><%= @report.crunch_algorithm ? @report.crunch_algorithm.name : "none"%></i></h4>
<%= link_to 'crunch', crunch_path(@report) %> |
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
