<!DOCTYPE html>
<html>
<head>
  <title>Adnalysis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div style="max-width:900px; margin-left:auto; margin-right: auto">
    <%= render partial: "navbar", layout: "navbar"%>
    <%= yield %>
  </div>

</body>
</html>
